    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li>Working Data</li>
                    <li><a href="">Standard Footnotes</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>Standard Footnotes</h1>
                    <div class="page-header-actions" ng-show="vm.shouldShowDropdowns">
                        <a class="btn btn-default" href="" ng-click="vm.save()">Save</a>
                        <a class="btn btn-default" href="" ng-click="vm.cancel()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-card">
                    <div class="panel-heading">
                        <h3 class="panel-title">Footnote</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-primary" href="" ng-click="vm.populateFootnotes();vm.shouldShowDropdowns = true;vm.isEdit = false">Create Footnote</a>
                    </div>
                </div>
                <div class="panel panel-card card-collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fund</h3>
                    </div>
                    <div class="panel-body">
                        <input type="text" ng-model="searchInvestments1" class="form-control" placeholder="Search..."/>
                        <table class="table table-striped margin-top-15">
                            <tbody>
                                <tr ng-repeat="item in vm.arrFundDetails">
                                    <td>{{item.FundNames}}</td>
                                    <td class="actions text-right">
                                        <a class="btn btn-xs btn-default" ng-click="vm.edit(item)"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-xs btn-danger" href=""><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-card card-collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">Investments (Internal)</h3>
                    </div>
                    <div class="panel-body">
                        <input type="text" ng-model="searchInvestments2" class="form-control" placeholder="Search..."/>

                        <p class="margin-top-15"><strong>Direct Investment Vehicles #1</strong></p>

                        <table class="table table-striped ">
                            <tbody>
                            <tr ng-repeat="i in vm.range(3) track by $index">
                                <td width="5%"><input type="checkbox" checked/></td>
                                <td>FN {{$index + 1}}000 - Short Name</td>
                                <td class="actions text-right">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="maring-top-15"><strong>Direct Investment Vehicles #2</strong></p>

                        <table class="table table-striped margin-top-10">
                            <tbody>
                            <tr ng-repeat="i in vm.range(3) track by $index">
                                <td width="5%"><input type="checkbox" checked/></td>
                                <td>FN {{$index + 1}}000 - Short Name</td>
                                <td class="actions  text-right">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-card card-collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">Investments (External)</h3>
                    </div>
                    <div class="panel-body">
                        <input type="text" ng-model="searchInvestments3" class="form-control" placeholder="Search..."/>

                        <p class=""><strong>Direct Investment Vehicles #3</strong></p>
                        <table class="table table-striped margin-top-10">
                            <tbody>
                            <tr ng-repeat="i in vm.range(3) track by $index">
                                <td>FN {{$index + 1}}000 - Short Name</td>
                                <td class="actions  text-right">
                                    <a class="btn btn-xs btn-default" href="#/users/profile/0"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-xs btn-danger" href=""><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class=""><strong>Direct Investment Vehicles #4</strong></p>
                        <table class="table table-striped margin-top-10">
                            <tbody>
                            <tr ng-repeat="i in vm.range(3) track by $index">
                                <td>FN {{$index + 1}}000 - Short Name</td>
                                <td class="actions text-right">
                                    <a class="btn btn-xs btn-default" href="#/users/profile/0"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-xs btn-danger" href=""><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-card" ng-show="vm.shouldShowDropdowns">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="">Footnote</label>
                                <select name="123" class="form-control" chosen="" ng-model="vm.selectedFootnote" ng-options="item as item.FootnoteName for item in vm.arrFootnotes" ng-change="vm.setSelectedFootnoteId(vm.selectedFootnote)"></select>
                            </div>
                            <div class="col-sm-4">
                                <label for="">Invest Entity</label>
                                <select name="124" class="form-control" chosen="" ng-model="vm.selectedVehicles" ng-options="item as item.InvestmentVehicleName for item in vm.arrVehicles">
                                    <option value="">Select Investment Entity</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="">Deal</label>
                                <select name="125" class="form-control" chosen="" ng-model="vm.selectedDeals" ng-options="item as item.DealName for item in vm.arrDeals">
                                    <option value="">Select Deal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
   
                <div class="panel panel-card panel-card-tabs" ng-show="vm.shouldShowTabs">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li ng-repeat="item in vm.arrSections.slice(0, 2)">
                                <a ng-click="vm.initializeTabControls(item.section_type_id,item.sections_id)" data="{{item.section_type_id}}" data-target="tab">{{item.SectionName}}</a>
                            </li>
                            <li class="dropdown pull-right tabdrop open">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-align-justify"></i> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in vm.arrSections.slice(2,vm.arrSections.length )">
                                        <a ng-click="vm.initializeTabControls(item.section_type_id,item.sections_id)" data="{{item.section_type_id}}" data-target="tab">{{item.SectionName}}</a>
                                    </li>
                                </ul>
                            </li>
                          
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="tab-content">
                            <div id="freetexttab" class="tab-pane active" ng-if="vm.selectedTabId === 'FreeText'" ng-include="'app/workingdata/footnotes/partials/text-frame.html'">
                            </div>

                            <div id="accounttab" class="tab-pane active" ng-if="vm.selectedTabId === 'Account'" ng-include="'app/workingdata/footnotes/partials/account.html'">
                            </div>

                            <div id="qatab" class="tab-pane active" ng-if="vm.selectedTabId === 'QA'" ng-include="'app/workingdata/footnotes/partials/qa.html'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

<script>
    $(function () {
        $('.card-collapse').panelCollapse();
    })
</script>