﻿<div class="panel panel-card panel-login-form">
    <div class="panel-body">
        <div class="">
            <h2>Log In</h2>

            <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>

            <form ng-submit="vm.login()">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.userName" placeholder="Email"/>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" ng-model="vm.password" placeholder="Password"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block login-button" data-loading-text="Please Wait...">Log In</button>
                </div>

                <a href="http://kbox1000/userui/ticket_list.php" target="_blank">Forgot password?</a>

            </form>
        </div>
    </div>
</div>