


<div class="panel-body-actions">

    <a class="btn btn-sm btn-info pull-right" data-toggle="modal" data-target=".add-account-modal" ><i class="fa fa-plus"></i> Add Account</a>&nbsp;&nbsp;
    <button class="btn btn-sm pull-right btn-default" data-toggle="popover" data-title="Allocate Periods" data-content-div=".allocate-percentages-form" style="margin-right: 5px;">Allocate Periods</button>
    <div class="allocate-percentages-form" style="display:none;">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th style="vertical-align: middle" class="text-center" width="40%">Q1</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="vertical-align: middle" class="text-center" >Q2</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="vertical-align: middle" class="text-center" >Q3</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control  text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="vertical-align: middle" class="text-center" >Q4</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
        <a class="btn btn-primary btn-block" href=""><i class="fa fa-refresh "></i>&nbsp;&nbsp;Update</a>
    </div>
</div>

<div class="sticky-table-header">
    <table class="table table-tax">
        <thead>
        <tr class="subheader">
            <th colspan="2" class="white"></th>
            <th class="no-double-border text-right">(Income)/Loss:</th>
            <th class="text-right">{{vm.ytdTotal | number}}</th>
            <th class="text-right">{{vm.q1Total | number}}</th>
            <th class="text-right">{{vm.q2Total | number}}</th>
            <th class="text-right">{{vm.q3Total | number}}</th>
            <th class="text-right">{{vm.q4Total | number}}</th>
            <th class="text-right">{{vm.yearTotal | number}}</th>
            <th></th>
        </tr>
        <tr class="no-top-border">
            <th width="8%" colspan="2">Tax Line</th>
            <th width="28%">Account</th>
            <th width="10%" class="text-right input-col">YTD</th>
            <th width="10%" class="text-right input-col">Q1</th>
            <th width="10%" class="text-right input-col">Q2</th>
            <th width="10%" class="text-right input-col">Q3</th>
            <th width="10%" class="text-right input-col">Q4</th>
            <th width="10%" class="text-right input-col">Total</th>
            <th width="3%"></th>
        </tr>
        </thead>
    </table>
</div>

<table class="table table-tax" ng-repeat="line in vm.accounts">
    <!-- This thead is just to simulate column widths because of the separation from the sticky header -->
    <thead style="display:none">
    <tr class="subheader">
        <th colspan="2" class="white"></th>
        <th class="no-double-border text-right">(Income)/Loss:</th>
        <th class="text-right">{{vm.ytdTotal | number}}</th>
        <th class="text-right">{{vm.q1Total | number}}</th>
        <th class="text-right">{{vm.q2Total | number}}</th>
        <th class="text-right">{{vm.q3Total | number}}</th>
        <th class="text-right">{{vm.q4Total | number}}</th>
        <th class="text-right">{{vm.yearTotal | number}}</th>
        <th></th>
    </tr>
    <tr class="no-top-border">
        <th width="8%" colspan="2">Tax Line</th>
        <th width="28%">Account</th>
        <th width="10%" class="text-right input-col">Input</th>
        <th width="10%" class="text-right input-col">Q1</th>
        <th width="10%" class="text-right input-col">Q2</th>
        <th width="10%" class="text-right input-col">Q3</th>
        <th width="10%" class="text-right input-col">Q4</th>
        <th width="10%" class="text-right input-col">Total</th>
        <th width="3%"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="tax-line">
        <td colspan="8"><a href="" data-toggle-row-group="{{ line.line }}" class="opened pull-left expand-icon"><i class="fa fa-fw fa-minus-square-o"></i></a>&nbsp;&nbsp;&nbsp;{{ line.line }} - {{ line.description }}</td>
        <td class="text-right" colspan="2">{{line.total | number}}</td>
        <td></td>
    </tr>
    <tr ng-repeat="child in line.accounts" data-row-group="{{ line.line }}">
        <td width="8%" colspan="2"></td>
        <td width="28%">{{ child.description }}</td>
        <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="vm.ytdTotal" format="number"/></td>
        <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q1" format="number"/></td>
        <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q3" format="number"/></td>
        <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q2" format="number"/></td>
        <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q4" value="" format="number"/></td>
        <td width="10%" class="text-right">{{child.rowTotal | number}}</td>
        <td width="3%" ><a href="" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a></td>
    </tr>
    </tbody>
</table>

<script>


    $(document).on('focus', 'input.text-entry', function(){
        $('tr').removeClass('editing-row');
        $(this).parent().parent().addClass('editing-row')
    })


    $(function () {

        $('div.chosen-container ul').attr('tabindex',-1);


        var stickyHeader = $('.sticky-table-header');
        var stickyHeaderTop = stickyHeader.offset().top;
        var widthOfTable = $('.table-tax').width();

        $(document).on('scroll', function(){

            var top = $(window).scrollTop();

            if(top > stickyHeaderTop){
                stickyHeader.addClass('stick');
                stickyHeader.css({'width': widthOfTable});
            }else{
                stickyHeader.removeClass('stick');
            }

        });

    });
</script>