﻿<!DOCTYPE html>
<html lang="en" ng-class="htmlClass">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Treehouse | HCVT LLP</title>
    <!-- Bootstrap -->
 
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/vendor.css">
    <link rel="stylesheet" href="css/treehouse.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body ng-class="bodyClass">
    <div ui-view class="main"></div>
    
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="js/script.js"></script>
    <script src="js/vendor.js"></script>
    <script src="app/workingdata/_.app.treehouse.workingdata.module.js"></script>
    <script src="app/layout/_.app.treehouse.layout.module.js"></script>
    <script src="app/administration/_.app.treehouse.admin.module.js"></script>
    <script src="app/login/_.app.treehouse.login.module.js"></script>
    <script src="app/common/_.app.treehouse.common.module.js"></script>
    <script src="app/layout/_.app.treehouse.layout.route.config.js"></script>
    <script src="app/layout/IndexCtrl.js"></script>
    <script src="app/layout/HeaderMainCtrl.js"></script>
    <script src="app/layout/HeaderAdminCtrl.js"></script>
    <script src="app/administration/_.app.treehouse.admin.route.config.js"></script>
    <script src="app/login/_.app.treehouse.login.route.config.js"></script>
    <script src="app/login/authSvc.js"></script>
    <script src="app/login/loginSvc.js"></script>
    <script src="app/login/LoginCtrl.js"></script>
    <script src="app/administration/userprofile/UserProfileCtrl.js"></script>
    <script src="app/administration/userprofile/UserProfileListCtrl.js"></script>
    <script src="app/administration/userprofile/userProfileSvc.js"></script>
    <script src="app/administration/userprofile/UserAccessCtrl.js"></script>
    <script src="app/administration/organizations/organizationSvc.js"></script>
    <script src="app/common/usercontext/contextSvc.js"></script>
    <script src="app/common/usercontext/ContextCtrl.js"></script>
    <script src="app/common/_.app.treehouse.common.route.config.js"></script>
    <script src="app/workingDataHmSvc.js"></script>
    <script src="app/administration/home/AdminHomeCtrl.js"></script>
    <script src="app/WorkingDataHomeCtrl.js"></script>
    <script src="app/common/usercontext/FooterCtrl.js"></script>
    <script src="app/administration/sessions/sessionSvc.js"></script>
    <script src="app/administration/sessions/SessionCtrl.js"></script>
    <script src="app/administration/sessions/SessionListCtrl.js"></script>
    <script src="app/workingdata/investments/K1EntryCtrl.js"></script>
    <script src="app/workingdata/footnotes/StandardFootnotesCtrl.js"></script>
    <script src="app/workingdata/setup/allocation/AllocationPercentagesCtrl.js"></script>
    <script src="app/workingdata/dataimport/dataImportSvc.js"></script>
    <script src="app/workingdata/dataimport/DataImportCtrl.js"></script>
    <script src="app/workingdata/trialbalance/TrialBalanceCtrl.js"></script>
    <script src="app/workingdata/_.app.treehouse.workingdata.route.config.js"></script>
    <script src="app/config/_.treehouse.config.module.js"></script>
    <script src="app/config/treehouse.config.js"></script>
    <script src="app/core/bmCore.js"></script>
    <script src="app/app.treehouse.module.js"></script>
    <script>
        $(document).ready(function () {
            angular.bootstrap(document, ['app.treehouse']);
        });
    </script>
</body>
</html>