﻿<header class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <a class="logo" ui-sref="users">
                    <span>Treehouse</span>
                </a>
            </div>
            <div class="col-sm-7">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-user" ng-hide="hideNavigation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="hidden-xs">{{vm.$storage.authData.fullName}}</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> Account Settings</a></li>-->
                            <!--<li class="divider"></li>-->
                            <li><a ng-click="vm.logout()"><i class="fa fa-sign-out fa-fw"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section ng-hide="hideNavigation" id="navigation" ng-include="'app/partials/tpl.navigation.html'"></section>
