﻿    <div class="footer-row footer-row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"><p>Copyright &copy; HCVT LLP 2015</p></div>
                <div class="col-sm-6"><p class="text-right"><a href="http://kbox1000/userui/ticket_list.php" target="_blank">Support</a></p></div>
            </div>
        </div>
    </div>
