/* Heading Elements */
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* Navigation */
/* Margin */
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-35 {
  margin-top: 35px;
}
/* Padding */
.no-padding-left {
  padding-left: 0px;
}
.no-padding-right {
  padding-right: 0px;
}
.no-padding-top {
  padding-top: 0px;
}
.no-padding-bottom {
  padding-bottom: 0px;
}
.no-padding {
  padding: 0px;
}
/* Responsive */
/* Footer */
html,
body {
  height: 100%;
}
body {
  background: #efefef;
  color: #353e3e;
  font-family: "Open Sans", sans-serif;
}
.container-fluid.wide {
  width: 100% !important;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}
.footer,
.push {
  height: 30px;
}
body .main {
  height: 100%;
}
/* Header */
header {
  background: #FFF;
  padding: 15px 0px;
}
header a.logo {
  width: 421px;
  height: 55px;
  display: block;
  background: url('../img/logo-project-treehouse.png') no-repeat;
}
header a.logo span {
  display: none;
}
header ul.navbar-right > li > a {
  padding: 5px 15px;
}
header ul.navbar-right li.navbar-user > a {
  color: #353e3e;
}
header ul.navbar-right .dropdown-menu > li > a {
  padding: 5px 10px;
}
header.inverse {
  background: #252b2b;
}
header.inverse a.logo {
  background: url('../img/logo-inverse.png') no-repeat;
}
header.inverse ul.navbar-right > li.navbar-user > a {
  color: #FFF;
}
header.inverse ul.navbar-right > li.navbar-user > a:hover {
  background: #353e3e;
}
header.inverse ul.navbar-right > li.navbar-user > a:focus {
  background: #252b2b;
}
header.inverse ul.navbar-right > li.navbar-user.open > a {
  background: #353e3e;
  color: #FFF;
}
.page-header {
  margin: 20px 0px;
  padding-bottom: 0px;
  border-bottom: 0px solid rgba(53, 62, 62, 0.2);
}
.page-header h1 {
  font-size: 28px;
  color: #111111;
  margin: 0px;
}
.page-header .page-header-actions {
  position: absolute;
  top: 20px;
  right: 15px;
}
h4.section-title {
  border-bottom: 1px solid rgba(53, 62, 62, 0.2);
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
}
.footer .footer-row {
  height: 30px;
  background: #FFF;
  font-size: 90%;
}
.footer .footer-row-bottom {
  background: #353e3e;
  color: rgba(255, 255, 255, 0.7);
  font-size: 80%;
}
.footer .footer-row-bottom a {
  color: #FFF;
}
.footer p {
  margin: 0px;
  line-height: 30px;
}
section#navigation {
  background: #353e3e;
}
nav.navbar {
  margin-bottom: 0px;
  border: 0px;
}
nav .navbar-collapse {
  padding: 0px;
}
nav .navbar-collapse.in {
  padding-left: 15px;
  padding-right: 15px;
}
nav .navbar-nav > li > a {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #FFF;
}
.dropdown-menu {
  min-width: 210px;
  border-bottom: 4px solid #24b69e;
}
.dropdown-menu > li > a {
  color: #353e3e;
  padding: 3px 12px;
  display: block;
  clear: both;
  color: #333;
  white-space: nowrap;
  line-height: 1.62857;
  font-size: 13px;
  font-weight: normal !important;
}
.dropdown-menu > li > a:hover {
  text-decoration: none;
  color: #24b69e;
  background: transparent;
}
.dropdown-menu.with-icons > li > a {
  padding: 5px 10px;
}
.dropdown-menu.with-icons > li > a i {
  padding-right: 5px;
}
.navbar-inverse .navbar-collapse {
  border: 0px;
}
.dropdown-menu.columns-2 {
  min-width: 500px;
}
.dropdown-menu.columns-3 {
  min-width: 600px;
}
.dropdown-menu.columns-4 {
  min-width: 700px;
}
.dropdown-menu li a {
  font-weight: 300;
}
.dropdown-menu.multi-column {
  padding: 15px;
}
.dropdown-menu.multi-column .col-sm-4 {
  padding: 0px;
}
.multi-column-dropdown {
  list-style: none;
  padding: 0px;
}
.multi-column-dropdown li a {
  padding: 3px 20px;
  display: block;
  clear: both;
  color: #333;
  white-space: normal;
  line-height: 1.62857;
  font-size: 13px;
  font-weight: 400;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #24b69e;
}
.multi-column-dropdown li.title {
  padding: 0px 20px;
}
.multi-column-dropdown li.title a {
  padding: 0px 0px 4px 0px;
  font-weight: bold;
  margin-bottom: 3px;
  border-bottom: 1px solid #DDD;
  font-size: 14px;
}
.multi-column-dropdown li.title a:hover {
  cursor: default;
  color: #333;
}
@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}
.nav-app-icon {
  font-size: 19px !important;
}
.company-select-dropdown {
  width: 350px;
  padding: 15px;
}
.company-select-dropdown .chosen-select {
  width: 100% !important;
}
.company-select-dropdown .chosen-container {
  width: 100% !important;
}
.company-select-dropdown .chosen-drop {
  width: 100% !important;
}
.company-select-dropdown .chosen-drop .chosen-search {
  width: 99% !important;
}
.company-select-dropdown .chosen-drop .chosen-search input {
  width: 98% !important;
}
.company-context {
  position: absolute;
  right: 0px;
  top: -30px;
  background: #293030;
  line-height: 30px;
  padding: 0px 10px;
  height: 30px;
  color: #CCC;
  text-transform: uppercase;
  font-size: 11px;
  z-index: 2;
}
.company-context a {
  color: #FFF;
}
.company-context::before {
  display: block;
  width: 50px;
  height: 30px;
  left: -13px;
  background-color: #293030;
  position: absolute;
  top: 0px;
  content: "";
  transform: skewx(-35deg);
  z-index: 0;
}
.company-context ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.company-context ul.nav li {
  display: block;
  float: left;
}
.company-context ul.nav li + li::before {
  content: "/";
  color: rgba(255, 255, 255, 0.65);
}
.company-context ul.nav li a {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
}
.company-context ul.nav li a:hover {
  background: transparent;
}
.company-context ul.nav li a:focus,
.company-context ul.nav li a:active {
  background: transparent;
}
.form-control,
.input-group-addon {
  color: #353e3e;
  border: 2px solid #e2e2e2;
  box-shadow: none;
}
select.form-control {
  padding: 2px;
}
.text-entry {
  text-align: right;
  border-color: #efefef;
  font-size: 11px;
  padding: 3px 2px !important;
  height: auto !important;
  width: 100% !important;
}
.text-entry:hover {
  background: rgba(249, 255, 1, 0.2);
  cursor: pointer;
}
.text-entry:focus {
  background: rgba(249, 255, 1, 0.2);
}
.text-entry .error {
  color: #f45550;
  border-color: #f45550;
}
.text-entry.text-entry-percentage {
  color: #24b69e;
}
.text-entry.text-entry-percentage:focus {
  color: #000;
}
.text-entry.text-entry-disabled {
  border-color: transparent;
}
.text-entry.text-entry-disabled:hover {
  background: transparent;
}
.text-entry.size-sm {
  width: 50px !important;
}
.text-entry + .input-group-addon {
  height: auto !important;
  padding: 3px 4px !important;
  font-size: 11px;
  font-weight: bold;
  border-color: #efefef;
}
.input-group-feedback {
  position: relative;
}
.input-group-feedback .form-control {
  padding-right: 18px !important;
}
.input-group-feedback .form-control-feedback {
  width: 20px;
  line-height: 27px;
  font-weight: bold;
}
.text-entry-label {
  color: #24b69e;
}
.input-group-addon {
  background: #FCFCFC;
}
label {
  font-weight: normal;
}
label.helper-line:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #000;
}
hr.form-row {
  border-color: #efefef;
}
label.inline {
  line-height: 34px;
}
input.has-error {
  border-color: #f45550 !important;
}
.chosen-container-single .chosen-single {
  background: #FFF;
  box-shadow: none;
  border: 2px solid #e2e2e2;
  border-radius: 0px;
}
.chosen-container-single .chosen-drop {
  border-color: #167061;
  border-width: 0px 2px 2px 2px;
  border-radius: 0px;
}
.chosen-container-single .chosen-results li.highlighted {
  background: #24b69e;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border-color: #afafaf;
  box-shadow: none;
  border-width: 2px 2px 0px 2px;
  background: #FFF;
}
.chosen-container-active.chosen-with-drop .chosen-drop {
  border-color: #afafaf;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.file-input-mask.btn-default {
  border: 0px;
}
table.dataTable thead th {
  background: #353e3e;
  color: #FFF;
}
table.dataTable thead th.sorting_disabled {
  position: relative;
}
table.dataTable td.actions {
  text-align: right;
}
table.dataTable td.actions a.btn {
  margin: 0px 3px;
}
table.dataTable td input[type="checkbox"],
table.dataTable th input[type="checkbox"] {
  text-align: center;
}
table.table-compact > tbody > tr > th,
table.table-compact > tbody > tr > td {
  padding: 2px;
}
.table-hover > tbody > tr:hover {
  background: #f4fade;
  cursor: pointer;
}
/* Data Tables */
.table-actions {
  margin-bottom: 8px;
}
#dataTable_length,
#dataTable_filter {
  display: none;
}
table.table-tax {
  margin: 0px;
  font-size: 11px;
}
table.table-tax > thead {
  margin-bottom: 10px;
}
table.table-tax > thead tr > th {
  padding-top: 14px;
  padding-bottom: 14px;
  background: #353e3e;
  color: #FFF;
}
table.table-tax > thead > tr.double-border > th {
  border-bottom: 4px double #333333;
}
table.table-tax > thead > tr.double-border > th.no-double-border {
  border-bottom-color: #FFF;
}
table.table-tax > thead > tr.double-border > th.input-col {
  padding-left: 3px;
}
table.table-tax > thead > tr.clear > th {
  background: transparent;
  color: #353e3e;
}
table.table-tax > thead > tr.subheader.border-top > th {
  border-top: 1px solid #e2e2e2;
}
table.table-tax > thead > tr.subheader > th {
  background: #efefef;
  color: #353e3e;
  border: none;
}
table.table-tax > thead > tr.subheader > th.white {
  background: #FFF;
  border-top: none !important;
}
table.table-tax > thead > tr > th {
  border-color: #333;
  border-width: 1px;
}
table.table-tax > tbody tr.tax-line td {
  font-weight: bold;
  background: #ebebeb;
}
table.table-tax > tbody > tr > td {
  vertical-align: middle;
}
table.table-tax a.expand-icon {
  font-size: 12px;
}
/* Table Helpers */
.table td.col-center,
.table th.col-center {
  text-align: center;
}
.table td.no-border,
.table th.no-border,
.table tr.no-border th,
.table tr.no-border td {
  border: none !important;
}
div.table-scroll {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 3px;
}
div.table-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: rgba(55, 64, 62, 0.2);
  border-left: 1px solid #FFF;
}
div.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #37403e;
}
div.table-scroll-header {
  padding-right: 13px;
}
tr.no-top-border th {
  border-top: 0px !important;
}
thead.th-text-right th {
  text-align: right;
}
thead.th-text-right th.text-left {
  text-align: left !important;
}
div.sticky-table-header.stick {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.btn-gray {
  background-color: #353e3e;
  color: #FFF;
  border-color: #353e3e;
}
.btn-gray:hover {
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn {
  border-radius: 0px;
}
.btn i.icon-left {
  margin-right: 5px;
}
.btn i.icon-right {
  margin-left: 5px;
}
.btn-group .btn-default {
  border-color: #DDD;
}
.btn-group .btn-default:hover {
  background: #FFF;
  border-color: #DDD;
}
.btn-group .btn-default:active {
  border-color: #20a18c;
}
.btn-group .btn-default.active {
  background: #24b69e;
  border-color: #20a18c;
  color: #FFF;
  font-weight: bold;
}
.panel .panel-heading {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #efefef;
}
.panel .panel-heading .panel-title {
  color: #111111;
}
.panel .panel-heading .panel-title a:hover {
  text-decoration: none;
}
.panel .panel-heading .panel-heading-icon {
  float: left;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.panel .panel-heading .panel-heading-actions {
  position: absolute;
  right: 10px;
  top: 10px;
}
.panel .panel-heading .panel-heading-actions a {
  margin-left: 3px;
}
.panel .panel-heading.collapse-icon:hover {
  cursor: pointer;
}
.panel .panel-heading.collapse-icon .panel-title a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: left;
  color: grey;
  font-size: 12px;
  position: relative;
  top: 3px;
  margin-right: 10px;
}
.panel .panel-heading.collapse-icon .panel-title a.collapsed:before {
  content: "\e080";
}
.panel-card {
  position: relative;
}
.panel-card > .panel-heading {
  padding: 15px 10px;
}
.panel-card > .panel-heading > .panel-title {
  font-size: 17px;
}
.panel-card > .panel-heading > .panel-heading-icon {
  font-size: 16px;
}
.panel-card > .panel-heading > .panel-heading-actions {
  right: 12px;
}
.panel-card > .panel-heading > .panel-heading-actions a.btn {
  color: #FFF;
  border-radius: 0px;
}
.panel-card > .panel-body ul.panel-body-actions {
  list-style-type: none;
  height: 35px;
}
.panel-card > .panel-body ul.panel-body-actions li {
  float: right;
  margin-left: 6px;
  display: inline-block;
}
.panel-card .panel-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.card-collapse .panel-heading-actions {
  top: 15px !important;
}
.panel-card-tabs {
  border: 0px;
}
.panel-card-tabs .panel-heading {
  padding: 0px;
  border: 0px;
}
.panel-card-tabs ul.nav-tabs {
  magrin-bottom: 0px;
  background: #efefef;
  border-color: transparent;
}
.panel-card-tabs ul.nav-tabs > li {
  margin-bottom: -1px;
}
.panel-card-tabs ul.nav-tabs > li a {
  background: #efefef;
  color: #353e3e;
}
.panel-card-tabs ul.nav-tabs > li a:hover {
  border-color: #efefef;
  cursor: pointer;
}
.panel-card-tabs ul.nav-tabs > li.active > a {
  background: #FFF;
  color: #24b69e;
  border-color: #FFF;
}
.panel-card-tabs .tab-content {
  padding: 0px;
  border: 0px;
}
.tab-content {
  padding: 15px;
  border: 1px solid #DDD;
  border-top: none;
}
.nav-tabs > li > a {
  color: #728580;
  background: #e7ebea;
}
.nav-tabs > li > a:hover {
  background: #24b69e;
  color: #FFF;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #24b69e;
}
.tabdrop ul.dropdown-menu li.tabdrop.active a {
  color: #353e3e !important;
}
.tabdrop ul.dropdown-menu li a {
  background: #FFF;
}
.tabdrop ul.dropdown-menu > li.active a {
  background: #24b69e !important;
  color: #FFF;
}
.modal-content {
  border-radius: 0px;
}
.modal-organization {
  width: 450px;
}
.modal-organization .table-scroll {
  max-height: 250px;
  overflow: scroll;
}
.modal-backdrop {
  opacity: .5;
}
body.colors-1 header.inverse {
  background: #2d353c;
}
body.colors-1 .navbar-inverse {
  background: #38424b;
}
body.colors-1 .navbar-nav li.active a {
  background: #47545f;
}
body.colors-1 header a.logo {
  background: url('../img/logo-alt.png') no-repeat;
}
body.colors-1 header.inverse a.logo {
  background: url('../img/logo-inverse-alt.png') no-repeat;
}
body.colors-1 .btn-info {
  background: #42c3db;
  border-color: #42c3db;
}
body.colors-1 .btn-success {
  background: #9ecb3a;
  border-color: #9ecb3a;
}
body.colors-1 table.dataTable thead th {
  background: #38424b;
}
body.colors-1 .pagination > .active > a,
body.colors-1 .pagination > .active > span,
body.colors-1 .pagination > .active > a:hover,
body.colors-1 .pagination > .active > span:hover,
body.colors-1 .pagination > .active > a:focus,
body.colors-1 .pagination > .active > span:focus {
  background: #42c3db;
}
ol.breadcrumb {
  padding: 0px;
  margin: 20px 0px 0px;
  background: transparent;
}
span.label.label-fw {
  width: 25px;
  display: inline-block;
  text-align: center;
  padding: 6px;
  margin-right: 10px;
}
span.label.label-tax-line {
  padding: 3px;
  width: 20px;
  font-size: 10px;
}
html.login {
  height: 100%;
}
html.login body {
  background-size: cover;
  height: 100%;
}
html.login header,
html.login .footer {
  background: #ffffff;
}
.panel-login-form {
  width: 350px;
  margin: 200px auto 0px;
  background: #ffffff;
}
.panel-login-form h2 {
  margin: 0px 0px 15px 0px;
  text-align: center;
  text-transform: uppercase;
}
.footnote-row td {
  vertical-align: middle !important;
}
.root_k1-entry .popover {
  max-width: 200px;
}
