<table class="table table-tax table-striped">
    <thead class="th-text-right">
    <tr class="subheader">
        <th>Total (%)</th>
        <th>{{ vm.table.totals.beginning }}</th>
        <th>{{ vm.table.totals.Q1_change }}</th>
        <th>{{ vm.table.totals.Q1_total }}</th>
        <th>{{ vm.table.totals.Q2_change }}</th>
        <th>{{ vm.table.totals.Q2_total }}</th>
        <th>{{ vm.table.totals.Q3_change }}</th>
        <th>{{ vm.table.totals.Q3_total }}</th>
        <th>{{ vm.table.totals.Q4_change }}</th>
        <th>{{ vm.table.totals.Q4_total }}</th>
        <th colspan="2"></th>
    </tr>
    <tr class="">
        <th width="20%" class="text-left">Partner</th>
        <th width="9%">Beginning</th>
        <th width="9%">Q1 Change</th>
        <th width="9%">Q1 Total</th>
        <th width="9%">Q2 Change</th>
        <th width="9%">Q2 Total</th>
        <th width="9%">Q3 Change</th>
        <th width="9%">Q3 Total</th>
        <th width="9%">Q4 Change</th>
        <th width="9%">Q4 Total</th>
        <th class="text-center">Active</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="partner in vm.table.partners | filter:searchPartners ">
        <td>{{ partner.code }}</td>
        <td><input type="text" class="text-entry form-control" ng-model="partner.beginning"/></td>
        <td><input type="text" class="text-entry form-control" ng-model="partner.Q1_change"/></td>
        <td class="text-right">{{ partner.Q1_total }}</td>
        <td><input type="text" class="text-entry form-control" ng-model="partner.Q3_change"/></td>
        <td class="text-right">{{ partner.Q2_total }}</td>
        <td><input type="text" class="text-entry form-control" ng-model="partner.Q3_change"/></td>
        <td class="text-right">{{ partner.Q3_total }}</td>
        <td><input type="text" class="text-entry form-control" ng-model="partner.Q4_change"/></td>
        <td class="text-right">{{ partner.Q4_total }}</td>
        <td class="text-center"><checkbox ng-model="partner.active" ng-checked="partner.active" ng-true-value="1" ng-false-value="0"></checkbox></td>
        <td><a href="" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a></td>
    </tr>
    </tbody>
</table>
