
<section id="navigation" style="position: relative;" >
    <div class="company-context" style="position: absolute; right: 0; top: -30px;">
        <ul class="nav">

            <li class="first"><a ui-sref="root.selectcompany">{{ vm.$storage.userContext.session.code }} </a></li>
            <li><a ui-sref="root.selectcompany">{{vm.$storage.userContext.company.description}} - {{vm.$storage.userContext.company.code}}</a></li>
        </ul>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="primary-navigation">
                <ul class="nav navbar-nav">
                    <li class="hidden"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li ng-repeat="menu in vm.menu" ng-class="{'disabled': menu.isEnabled == false,'dropdown': menu.children.length > 0}">

                        <a ng-if="!menu.generateSref" href='{{menu.action}}' ng-class="{'dropdown-toggle': menu.children.length}" ng-attr-data-toggle="{{ menu.children.length ? 'dropdown' : ''}}">{{ menu.displayText }} <span class="caret" ng-show="menu.children.length > 0"></span></a>
                        <a ng-if="menu.generateSref" ui-sref="{{menu.action}}" ng-class="{'dropdown-toggle': menu.children.length}" ng-attr-data-toggle="{{ menu.children.length ? 'dropdown' : ''}}">{{ menu.displayText }} <span class="caret" ng-show="menu.children.length > 0"></span></a>
                        <ul class="dropdown-menu multi-column" ng-if="vm.menuHelper[$index].cols" ng-class="vm.menuHelper[$index].class">
                            <div class="row">
                                <div  ng-repeat="child in menu.children" ng-class="vm.menuHelper[$parent.$index].colClass">
                                    <ul ng-if="child.isVisible" class="multi-column-dropdown">
                                        <li class="title" ng-if="child.children"><a href="">{{ child.displayText }}</a></li>
                                        <li ng-if="grandChild.isVisible"ng-repeat="grandChild in child.children">
                                            <a ng-if="!grandChild.generateSref" href='{{grandChild.action}}' ng-attr-data-nav-redirect="{{ grandChild.redirect ? 'true' : 'false' }}">{{grandChild.displayText}}</a>
                                            <a ng-if="grandChild.generateSref" ui-sref="{{grandChild.action}}">{{grandChild.displayText}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>

                        <ul class="dropdown-menu" ng-if="vm.menuHelper[$index].cols == 0">
                            <li ng-repeat="child in menu.children" ng-if="!menu.children[0].children.length && !menu.children[1].children.length && !menu.children[2].children.length">
                                <a ng-if="!child.generateSref" href='{{child.action}}' target="_blank" ng-attr-data-nav-redirect="{{ child.redirect ? 'true' : 'false' }}">{{child.displayText}}</a>
                                <a ng-if="child.generateSref" ui-sref='{{child.action}}'>{{child.displayText}}</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>