<div class="container-fluid wide">

    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>Working Data</li>
                <li><a href="">Trial Balance</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Trial Balance</h1>
                <div class="page-header-actions">
                    <a href="#" class="btn btn-info">Save</a>
                    <a class="btn btn-default" >Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <form action="" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-card">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Input Template</label>
                                    <select chosen name="" id="" class="form-control" >
                                        <option value="1">Form 1065 - Quarterly Standard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Investment Type</label>
                                    <select chosen name="" id="" class="form-control">
                                        <option value="1">External</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Account Type</label>
                                    <select chosen name="" class="form-control"
                                            data-placeholder="Select an account type">
                                        <option value="">P&L</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Deal</label>
                                    <select chosen name="" id="" class="form-control"
                                            data-placeholder="Select a Deal"></select>
                                    <a class="margin-top-10 btn btn-sm btn-info pull-right" ng-click="vm.loadInvestment()">Select</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="vm.showInvestmentData">
            <div class="col-sm-12">
                <div class="panel panel-card panel-card-tabs">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="" data-toggle="tab"
                                                  data-target="#taxable-income">PART III</a></li>
                            <li><a href="" data-toggle="tab"
                                   data-target="#partner-information">PART II</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="taxable-income">
                                <div ng-include="'app/workingdata/trialbalance/partials/table.html'"></div>
                            </div>
                            <div class="tab-pane" id="partner-information">
                                <div ng-include="'app/workingdata/investments/partials/partner.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>

<div class="modal fade add-account-modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Account</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Tax Line</label>
                        <select  name="" id="" class="form-control chosen-select">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Account</label>
                        <select  name="" id="" class="form-control chosen-select">
                            <option value="">account</option>
                            <option value="">account</option>
                            <option value="">account</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade add-comment-modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Comment</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <textarea name="comment" id="" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('.add-account-modal').on('shown.bs.modal', function () {
        $('.chosen-select', this).chosen();
    });

</script>