<ul class="panel-body-actions">
    <li><a class="btn pull-right btn-sm btn-primary" data-target=".add-account-modal" data-toggle="modal" >Add Account</a></li>
    <li><a class="btn pull-right btn-sm btn-default" data-target=".footnote-details-2" data-toggle="modal">View Header / Footer</a></li>
</ul>

<table class="table table-striped table-tax margin-top-10">
    <thead>
    <tr class="subheader">
        <th colspan="3" class="white text-right">Overall Footnote Total:</th>
        <th class="text-right">7,500</th>
        <th class="text-right">7,500</th>
        <th class="text-right">7,500</th>
        <th class="text-right">7,500</th>
        <th class="text-right">30,000</th>
        <th></th>
        <th width="5%"></th>
    </tr>
    <tr class="subheader border-top">
        <th colspan="3" class="white text-right">Total:</th>
        <th class="text-right">7,500</th>
        <th class="text-right">7,500</th>
        <th class="text-right">7,500</th>
        <th class="text-right">7,500</th>
        <th class="text-right">30,000</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Account</th>
        <th>Tax Line</th>
        <th>Allocation</th>
        <th class="text-right">Q1</th>
        <th class="text-right">Q2</th>
        <th class="text-right">Q3</th>
        <th class="text-right">Q4</th>
        <th class="text-right">Total</th>
        <th class="text-center">N/A</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Qualified Dividends</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">5,000</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">5,000</td>
        <td class="text-right">10,000</td>
        <td class="text-center"><input type="checkbox"/></td>
        <td class="text-right"><a href="" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a></td>
    </tr>
    <tr>
        <td>NonQual Dividends</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">5,000</td>
        <td class="text-right">5,000</td>
        <td class="text-right"></td>
        <td class="text-right">10,000</td>
        <td class="text-center"><input type="checkbox"/></td>
        <td class="text-right"><a href="" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a></td>
    </tr>
    <tr>
        <td>Interest Income</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">2,500</td>
        <td class="text-right">2,500</td>
        <td class="text-right">2,500</td>
        <td class="text-right">2,500</td>
        <td class="text-right">10,000</td>
        <td class="text-center"><input type="checkbox"/></td>
        <td class="text-right"><a href="" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a></td>
    </tr>

    </tbody>

</table>

<div class="modal fade add-account-modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Account</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Tax Line</label>
                        <select  name="" id="" class="form-control chosen-select">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Account</label>
                        <select  name="" id="" class="form-control chosen-select">
                            <option value="">account</option>
                            <option value="">account</option>
                            <option value="">account</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade footnote-details-2">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Footnote Header / Footer</h4>
            </div>
            <div class="modal-body">
                <p>header</p>
                <p>footer</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>