<ul class="panel-body-actions">
    <li><a class="btn pull-right btn-sm btn-default" data-toggle="modal" data-target=".footnote-details-3" >View Header / Footer</a></li>
</ul>

        <div class="row">
            <div class="col-sm-10">
                <div class="form-group row">
                    <label for="" class="col-sm-3 inline">Question</label>
                    <div class="col-sm-7">
                        {{vm.sectionModelData}}
                        <div class="input-group">
                            <input type="text" class="form-control" id="" ng-model="qa_text" ng-class="qa_textCharCount < 0 ? 'has-error' : ''" placeholder="Text Answer">
                            <div class="input-group-addon">{{ qa_textCharCount = vm.qa.text.maxChars - qa_text.text.length }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-3 inline">Is this Good?</label>
                    <div class="col-sm-7">
                        <select name="" chosen id="">
                            <option value="">Select...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-3 inline">Date of Sale</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            <input type="text" class="form-control" id="" placeholder="01/01/2015" style="max-width: 140px;">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-3 inline">Gross Proceeds</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                            <input type="text" class="form-control" id="" placeholder="" style="max-width: 140px;">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-3 inline">Fair Market Value</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                            <input type="text" class="form-control" id="" placeholder="" style="max-width: 140px;">
                        </div>
                    </div>
                </div>
                <tbody>
                    <tr ng-repeat="qa in vm.sectionModelData track by $index" class="footnote-row">
                        <td>{{ vm.sectionModelData }}</td>
                    </tr>
                </tbody>
            </div>
        </div>


<div class="modal fade footnote-details-3">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Footnote Header / Footer</h4>
            </div>
            <div class="modal-body">
                <p>header</p>
                <p>footer</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>