<ul class="panel-body-actions">
    <li><a class="btn pull-right btn-sm btn-primary" href="#" ng-click="vm.addFootnote(vm.sectionModelData,vm.sectionId)"><i class="fa fa-plus"></i> Add</a></li>
    <li><a class="btn pull-right btn-sm btn-default" data-toggle="modal" data-target=".footnote-details-1">View Header / Footer</a></li>
</ul>


<table class="table table-striped table-tax">
    <thead>
    <tr class="subheader">
        <th width="15%" class="text-center">Leading Spaces</th>
        <th width="50%"></th>
        <th width="15%" style="vertical-align: bottom">Style</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
        <tr ng-repeat="footnote in vm.sectionModelData track by $index" class="footnote-row">
            <td>

                <select name="" class="form-control" style="width: 50px; margin: 0 auto;" ng-model="footnote.leadingSpaces">
                    <option value="0" selected="selected">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input class="form-control" type="text" ng-class="footnote.charCount < 0 ? 'has-error' : ''" ng-model="footnote.free_text" value="" />
                    <div class="input-group-addon">{{ footnote.charCount = vm.footnoteMaxChars - footnote.free_text.length - footnote.leadingSpaces }}</div>
                </div>
            </td>
            <td>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" ng-checked="vm.changeBold(footnote)"><strong>B</strong>
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" ng-checked="vm.changeItalic(footnote)"><em style="font-family: Times New Roman, serif; font-size: 90%">I</em>
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" ng-checked="vm.changeUnderline(footnote)"><span style="text-decoration: underline">U</span>
                    </label>
                </div>
            </td>
            <td class="text-left"><a class="btn btn-xs btn-danger" href="" ng-click="vm.removeFootnote(vm.sectionModelData,$index)"><i class="fa fa-trash"></i></a></td>
        </tr>

    </tbody>
</table>


<div class="modal fade footnote-details-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Footnote Header / Footer</h4>
            </div>
            <div class="modal-body">
                <p>header</p>
                <p>footer</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>