    <div class="container-fluid wide">

        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li>Working Data</li>
                    <li><a href="">Investments</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>Investments</h1>
                    <div class="page-header-actions">
                        <a href="#" class="btn btn-info">Save</a>
                        <a class="btn btn-default" ng-click="vm.cancel()" >Cancel</a>
                    </div>
                </div>
            </div>
        </div>

        <form action="" class="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-card">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Input Template</label>
                                        <select chosen name="" id="" class="form-control" >
                                            <option value="1">Form 1065 - Quarterly Standard</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Investment Type</label>
                                        <select chosen name="" id="" class="form-control">
                                            <option value="1">External</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Investment Entity</label>
                                        <select chosen name="" class="form-control"
                                                data-placeholder="Select an investment entity"
                                                ng-options="company.name for company in vm.companies" ng-model="vm.selectedInvestmentEntity">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Deal</label>
                                        <select chosen name="" id="" class="form-control"
                                                data-placeholder="Select a deal"
                                                ng-options="deal.name for deal in vm.deals" ng-model="vm.selectedDeal"></select>
                                        <a class="margin-top-10 btn btn-sm btn-info pull-right" ng-click="vm.loadInvestment()" ng-disabled="vm.canExecute()">Select</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-class="{'invisible': !vm.showInvestmentData}">
                <div class="col-sm-12">
                    <div class="panel panel-card panel-card-tabs">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="" data-toggle="tab"
                                                      data-target="#taxable-income">PART III</a></li>
                               <!-Removed Part II No longer needed->
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="taxable-income" style="position: relative;">
                                    <div ng-include="'app/workingdata/investments/partials/taxable-income.html'"></div>
                                </div>
                                <!-Removed Part II Tab No Longer Needed->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>