﻿<div class="container">
    <!--<h4 class="page-header">Session</h4>-->
    <br/>

    <div data-bm-validation-summary="" data-validation-group="vm.validationGroupId"></div>
    <form class="form-horizontal">
        <fieldset>
            <legend>Details</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Active</label>
                <div class="col-sm-4 checkbox">
                    <input type="checkbox">
                </div>
                <label class="col-sm-2 control-label">Alternate Description 2</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Code</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Alternate Description 3</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Alternate Description 4</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Alternate Description 1</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Alternate Description 5</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Work Groups</legend>
        </fieldset>
        <fieldset>
            <legend>Session</legend>
        </fieldset>
    </form>

</div>


