<section id="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li>Working Data</li>
                    <li><a href="">Data Imports</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>Data Imports</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-card">
                    <div class="panel-body">
                        <form action="" class="" name="dataImportForm" ng-init="step2 = false;">
                            <div class="form-group">
                                <label for="">File Type</label>
                                <select chosen name="fileType" ng-model="vm.model.import" class="form-control" ng-disabled="dataImportFormDisabled" data-placeholder="Select a file type">
                                    <option value="Investment">Investment</option>
                                    <option value="Partner Capital">Partner Capital</option>
                                    <option value="Trial Balance">Trial Balance</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File</label>
                                <input bm-file-upload
                                       data-friendly-name="Document File"
                                       type="file" ng-model="vm.fileToUpload" />
                                <p class="help-block">Allowed file type: .xlsx</p>
                            </div>
                            <div ng-show="vm.model.import && step2 === false" >
                                <button type="button" class="btn btn-info" ng-click="step2 = true; showUpload = true; vm.loadWorkSheetNames();">Continue</button>
                                <button class="btn btn-default" ng-click="reset()">Cancel</button>
                            </div>
                            <div class="form-group" ng-show="step2">
                                <label for="">Worksheet</label>
                                <select chosen name="worksheets" class="form-control" ng-disabled="dataImportFormDisabled"
                                        data-placeholder="Select a worksheet"
                                        ng-options="workSheet for workSheet  in vm.workSheets" ng-model="vm.model.workSheet">
                                </select>
                            </div>
                            <div ng-show="vm.model.workSheet" >
                                <button type="button" class="btn btn-info" ng-click="vm.save(); showUpload = false;">Upload</button>
                                <button class="btn btn-default" ng-click="reset()">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <a href="http://ichannel/listdocs.mvc/viewbysiteid/16548" target="_blank" class="btn btn-xs"><i class="fa fa-file"></i>&nbsp;&nbsp;Import Templates</a>
                    </div>
                </div>

            </div>

            <div class="col-sm-8">
                <!--
                <div class="panel" ng-show="vm.showError">
                    <div class="panel-body">
                        <div class="alert alert-danger">
                            <p><strong>Validation Error</strong>: Please correct the following errors and try again.</p>
                            <a class="btn btn-danger btn-sm margin-top-10" ui-sref="root.data-import" ng-click="dataImportFormDisabled = false; validationFail = false; worksheet = false; step2 = false; file_type = false; dataImportForm.$setPristine"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Try Again</a>
                            <a class="btn btn-default btn-sm margin-top-10" href="#"><i class="fa fa-2x fa-file-excel-o" style="font-size: 18px;"></i></a>
                        </div>

                    </div>
                </div>-->
                <div data-bm-validation-summary="" data-validation-group="vm.validationGroupId"></div>
            </div>
        </div>

    </div>
</section>

<script>
    $(function(){

        var RadioToggle = {
            init: function(group){
                this.hideAll(group);
                this.setDefaults(group);
                this.bindEvents(group);
            },
            bindEvents: function(group){
                $('input[data-toggle-group="' + group + '"]').on('change', function(){
                    RadioToggle.hideAll(group);
                    var target = $(this).data('toggle-target');
                    RadioToggle.showOne(target);
                })
            },
            setDefaults: function(group){
                defaultSelected = $('input[data-toggle-group="' + group + '"]:checked');
                RadioToggle.showOne(defaultSelected.data('toggle-target'));
            },
            hideAll: function(group){
                $('[data-toggle-group="' + group + '"').children().addClass('hidden');
            },
            showOne: function(itemClass){
                $(itemClass).removeClass('hidden');
            }
        };

        var workGroupsToggle = RadioToggle.init('work-groups');
        var sessionsToggle = RadioToggle.init('sessions');
    })

</script>