﻿<section id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-card margin-top-25">
                    <div class="panel-heading">
                        <h3 class="panel-title">Select Company</h3>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <form>
                                <div class="form-group">
                                    <label for="">Organization</label>
                                    <select chosen data-placeholder="Select an organization..." name="123" class="form-control"
                                            ng-options="organization.code for organization in vm.organizations " ng-model="vm.model.selectedOrganization" ng-change="vm.onOrganizationChange(vm.model.selectedOrganization)"></select>
                                </div>

                                <div class="form-group">
                                    <label for="">Session</label>
                                    <select chosen ng-options="session.code for session in vm.sessions" ng-model="vm.model.selectedSession" ng-change="vm.onSessionChange(vm.model.selectedSession)" class="form-control"></select>
                                </div>

                                <div class="form-group">
                                    <label for="">Work Group (optional)</label>
                                    <select chosen ng-options="workgroup.code for workgroup in vm.workgroups" ng-model="vm.model.selectedWorkgroup" ng-change="vm.onWorkGroupChange(vm.model.selectedWorkgroup)" class="form-control"></select>
                                </div>

                                <div class="form-group">
                                    <label for="">Company</label>
                                    <select chosen ng-options="company.description + ' - ' + company.code for company in vm.companies" ng-model="vm.model.selectedCompany" ng-change="vm.onCompanyChange(vm.model.selectedCompany)" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" ng-disabled="vm.canSave()" ng-click="vm.save()">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


