﻿<div class="container">
    <!--<h4 class="page-header">{{vm.title}}</h4>-->
    <br/>

    <div data-bm-validation-summary="" data-validation-group="vm.validationGroupId"></div>
    <form class="form-horizontal">
        <fieldset>
            <legend>Details</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">Active</label>
                <div class="col-sm-4 checkbox">
                    <input type="checkbox">
                </div>
                <label class="col-sm-2 control-label">Alternate Description</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Organization</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Alternate Description 2</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Code</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Alternate Description 3</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Alternate Description 4</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    &nbsp;
                </div>
                <label class="col-sm-2 control-label">Alternate Description 5</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Companies</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-4">
                    <select class="form-control"></select>
                </div>
                <label class="col-sm-2 control-label">System Admin</label>
                <div class="col-sm-4 checkbox">
                    <input type="checkbox">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-4">
                    <input class="form-control" type="password">
                </div>
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-4">
                    <input class="form-control" type="password">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Access</legend>

            <div class="form-group">
                <button ng-click="vm.openModal()" class="btn-primary">Test</button>
            </div>

        </fieldset>

    </form>

</div>


