﻿<div class="container">
    <h3 class="page-header">
        {{vm.title}}
        <span class="pull-right">
            <button class="btn btn-primary" ng-disabled="vm.canSave()" ng-click="vm.saveSession()">Save</button>&nbsp;<button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </span>
    </h3>
    <br/>

    <div data-bm-validation-summary="" data-validation-group="vm.validationGroupId"></div>
    <form class="form-horizontal">
        <fieldset>
            <legend>Details</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">Active</label>
                <div class="col-sm-4 checkbox">
                    <input type="checkbox" ng-model="vm.model.isActive">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Organization</label>
                <div class="col-sm-4">
                    <select ng-change="vm.onOrganizationChange(vm.model.organization)" class="form-control" ng-model="vm.model.organization" ng-options="org.code for org in vm.organizations"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Type</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="vm.model.sessionType" ng-options="session.code for session in vm.sessionTypes"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Code</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="vm.model.code">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="vm.model.description">
                </div>
            </div>

        </fieldset>
    </form>

</div>


