<form action="">

        <table class="table table-striped">
            <tbody>
            <tr>
                <th style="vertical-align: middle" class="text-center" width="40%">Q1</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="vertical-align: middle" class="text-center" >Q2</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="vertical-align: middle" class="text-center" >Q3</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control  text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="vertical-align: middle" class="text-center" >Q4</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                        <div class="input-group-addon">%</div>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
        <a class="btn btn-primary btn-block" href=""><i class="fa fa-refresh "></i>&nbsp;&nbsp;Update</a>
</form>
