<div class="row">
    <div class="col-sm-12">

        <h4 class="section-title margin-top-35"><span class="label label-primary label-fw">K</span> Partner's share of liabilities at year end:</h4>

        <div class="row">
            <div class="col-sm-6 ">

                <div class="form-group row">
                    <label for="" class="col-sm-7">Nonrecourse</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-7">Qualified nonrecourse financing</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-7">Recourse</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>