<ul class="panel-body-actions">
    <li><a class="btn btn-sm btn-info" ng-click="vm.addAccount()">Add Account</a></li>
    <li><a ng-click="vm.deleteAll()" class="btn btn-default btn-sm">Delete All</a></li>
    <li><button type="button" class="btn btn-default btn-sm" title="Allocate Periods"
            data-content-template="app/workingdata/investments/partials/allocate-periods-popover.html"
            data-placement="left"
            data-id="allocatePeriodsPopover"
                data-trigger=""
            bs-popover>Allocate Periods</button></li>
</ul>

<div class="allocate-percentages-form" style="display:none;">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th style="vertical-align: middle" class="text-center" width="40%">Q1</th>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                    <div class="input-group-addon">%</div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="vertical-align: middle" class="text-center" >Q2</th>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                    <div class="input-group-addon">%</div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="vertical-align: middle" class="text-center" >Q3</th>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control  text-right" value="25" id="" placeholder="">
                    <div class="input-group-addon">%</div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="vertical-align: middle" class="text-center" >Q4</th>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control text-right" value="25" id="" placeholder="">
                    <div class="input-group-addon">%</div>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
    <a class="btn btn-primary btn-block" href=""><i class="fa fa-refresh "></i>&nbsp;&nbsp;Update</a>
</div>

<div class="sticky-table-header">
    <table class="table table-tax" style="min-width: 1000px;">
        <thead>
        <tr class="subheader">
            <th colspan="3" class="white"></th>
            <th class="no-double-border text-right">(Income)/Loss:</th>
            <th class="text-right">{{vm.ytdTotal | number}}</th>
            <th class="text-right">{{vm.q1Total | number}}</th>
            <th class="text-right">{{vm.q2Total | number}}</th>
            <th class="text-right">{{vm.q3Total | number}}</th>
            <th class="text-right">{{vm.q4Total | number}}</th>
            <th class="text-right">{{vm.yearTotal | number}}</th>
            <th></th>
        </tr>
        <tr class="no-top-border">
            <th width="28%" colspan="3">Account</th>
            <th width="8%">Account Type</th>
            <th width="10%" class="text-right input-col">YTD</th>
            <th width="10%" class="text-right input-col">Q1</th>
            <th width="10%" class="text-right input-col">Q2</th>
            <th width="10%" class="text-right input-col">Q3</th>
            <th width="10%" class="text-right input-col">Q4</th>
            <th width="10%" class="text-right input-col">Total</th>
            <th width="3%"></th>
        </tr>
        </thead>
    </table>
</div>

    <table class="table table-tax" ng-repeat="line in vm.accounts" style="min-width: 1000px;">
        <!-- This thead is just to simulate column widths because of the separation from the sticky header -->
        <thead style="display:none">
        <tr class="subheader">
            <th colspan="3" class="white"></th>
            <th class="no-double-border text-right">(Income)/Loss:</th>
            <th class="text-right">{{vm.ytdTotal | number}}</th>
            <th class="text-right">{{vm.q1Total | number}}</th>
            <th class="text-right">{{vm.q2Total | number}}</th>
            <th class="text-right">{{vm.q3Total | number}}</th>
            <th class="text-right">{{vm.q4Total | number}}</th>
            <th class="text-right">{{vm.yearTotal | number}}</th>
            <th></th>
        </tr>
        <tr class="no-top-border">
            <th width="8%" colspan="2">Tax Line</th>
            <th width="20%">Account</th>
            <th width="8%">Account Type</th>
            <th width="10%" class="text-right input-col">Input</th>
            <th width="10%" class="text-right input-col">Q1</th>
            <th width="10%" class="text-right input-col">Q2</th>
            <th width="10%" class="text-right input-col">Q3</th>
            <th width="10%" class="text-right input-col">Q4</th>
            <th width="10%" class="text-right input-col">Total</th>
            <th width="3%"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="tax-line">
            <td width="76%" colspan="8"><a href="" data-toggle-row-group="{{ line.line }}" class="opened pull-left expand-icon"><i class="fa fa-fw fa-minus-square-o"></i></a>&nbsp;&nbsp;&nbsp;{{ line.line }} - {{ line.description }}</td>
            <td class="text-right" colspan="2">{{line.total | number}}</td>
            <td width="3%"></td>
        </tr>
        <tr ng-repeat="child in line.accounts" data-row-group="{{ line.line }}">
            <td width="2%"></td>
            <td width="26%" colspan="2">{{ child.description }}</td>
            <td width="8%">{{ child.accountType }}</td>
            <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.ytdTotal" format="number"/></td>
            <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q1" format="number"/></td>
            <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q2" format="number"/></td>
            <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q3" format="number"/></td>
            <td width="10%" class="text-right"><input type="text" class="text-entry form-control" ng-model="child.q4" value="" format="number"/></td>
            <td width="10%" class="text-right">{{child.rowTotal | number}}</td>
            <td width="3%" ><a ng-click="vm.delete(line,child)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a></td>
        </tr>
        </tbody>
    </table>

<script>
    $(document).on('focus', 'input.text-entry', function(){
        $('tr').removeClass('editing-row');
        $(this).parent().parent().addClass('editing-row')
    })

    // TODO: Refactor this sticky header code so it's reusable

    $(function(){

        var stickyHeader = {
            options: {},
            init: function(){

                this.options = {
                    'stickyHeaderTop': $('.sticky-table-header').offset().top,
                    'widthOfTable': $('.table-tax').width()
                }

                $(document).on('scroll', this.isSticky);
            },
            isSticky: function(){

                if($(window).scrollTop() > stickyHeader.options.stickyHeaderTop){
                    $('.sticky-table-header').addClass('stick');
                    $('.sticky-table-header').css({'width': stickyHeader.options.widthOfTable});
                }else{
                    $('.sticky-table-header').removeClass('stick');
                    $('.sticky-table-header').css({'width': '100%'});
                }
            }
        };

        stickyHeader.init();
    })

</script>