<div class="container-fluid wide">

    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>Setup</li>
                <li><a href="">Allocation Percentages</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Allocation Percentages</h1>
                <div class="page-header-actions">
                    <a href="#" class="btn btn-info">Save</a>
                    <a class="btn btn-default" >Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <form action="" class="">

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-card">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Account Group</label>
                                    <select chosen name="" id="" class="form-control">
                                        <option value="1"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Type</label>
                                    <select chosen name="" id="" class="form-control">
                                        <option value="1">Organization</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Deal/Investment</label>
                                    <select chosen name="" id="" class="form-control">
                                        <option value="1"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-card">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="searchPartners" placeholder="Search..."/>
                            </div>
                            <div class="col-sm-9">
                                <a class="btn btn-sm btn-info pull-right" data-toggle="modal" data-target=".add-partner-modal" ><i class="fa fa-plus"></i> Add Partner</a>&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="margin-top-15" ng-include src="'app/workingdata/setup/allocation/partials/table.html'"></div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

<div class="modal fade add-partner-modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Partner</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Partner</label>
                        <select  name="" id="" class="form-control chosen-select">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Add Partner</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>


    $('[data-toggle="popover"]').on('click', function () {

        var popOverSettings = {
            placement: 'left',
            html: true,
            content: function(){ return $($(this).data('content-div')).html() },
            template: '<div class="popover" role="tooltip" style="max-width:210px"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
        }

        $(this).popover(popOverSettings)
        $(this).popover('toggle')

    })

    $('.add-account-modal').on('shown.bs.modal', function () {
        $('.chosen-select', this).chosen();
    });

</script>