﻿<div class="container">
    <h3 class="page-header">{{vm.title}}
        <span class="pull-right">
            <button class="btn btn-primary" ng-disabled="vm.canSave()" ng-click="vm.save()">Save</button>&nbsp;<button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </span>
    </h3>

    <div data-bm-validation-summary="" data-validation-group="vm.validationGroupId"></div>
    <form class="form-horizontal">
        <fieldset>
            <legend>Account Details</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-4">
                    <input readonly="" ng-model="vm.model.userName" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <input ng-model="vm.model.email" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">First name</label>
                <div class="col-sm-4">
                    <input ng-model="vm.model.firstName" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">Employer</label>
                <div class="col-sm-4">
                    <input ng-model="vm.model.employer" class="form-control" type="text">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-4">
                    <input ng-model="vm.model.lastName" class="form-control" type="text">
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Security</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-4">
                    <select ng-options="status.text for status in vm.accountState" ng-model="vm.model.status" class="form-control"></select>
                </div>
                <label class="col-sm-2 control-label">System Admin</label>
                <div class="col-sm-4 checkbox">
                    <input type="checkbox">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-4">
                    <input ng-model="vm.model.password" class="form-control" type="text">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Access</legend>

            <div class="form-group">
                <button ng-click="vm.openModal()" class="btn-primary">Add Organization</button>
            </div>

        </fieldset>

    </form>

</div>

