﻿<div>
    <h4 class="page-header">{{vm.title}}</h4>
    <div class="table-responsive">
        <button class="btn btn-primary pull-right" data-ui-sref="userprofile({id: -1})">ADD USER</button>
        <table id="{{vm.tableId}}"
               data-bm-data-table=""
               data-item-datasource="vm.data"
               data-config="vm.mappingConfig"
               data-on-command="vm.mappingCommands(result)"
               class="table table-bordered table-striped"></table>
    </div>
</div>