﻿

<!--<div class="container">-->
    <div class="modal-header">
        <h3 class="modal-title">Add Organization</h3>
    </div>
<div class="modal-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">Organization</label>
        <div class="col-sm-9">
            <select ng-change="vm.onOrganizationChange(vm.selectedOrganization)" ng-model="vm.selectedOrganization" class="form-control" ng-options="organization.code for organization in vm.organizations"></select>
        </div>
    </div>
    <br/><br/>
    <tabset>
        <tab heading="Work Groups">
            <br/>
            <!--<div class="container">-->
            <form>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="radio-inline">
                                <label>
                                    <input ng-model="vm.allWorkGroups" type="radio" name="optionsRadios" id="optionsRadios1" value="true">
                                    All
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input ng-model="vm.allWorkGroups" type="radio" name="optionsRadios" id="optionsRadios2" value="false">
                                    Specific Work groups
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <select ng-model="vm.selectedRole" class="form-control" ng-options="role.roleName for role in vm.roles">
                            </select>
                        </div>
                    </div>

                </div>

            </form>
            <!--</div>-->
        </tab>
        <tab heading="Sessions"></tab>
    </tabset>
</div>
<!--</div>-->
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.save()">Save</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
